<% include partials/head.ejs %>
<!-- ------------------------------------------ -->
<div class="sPage-bg">
    <% include partials/nav.ejs %>
    <div class="container-fluid">
        <div class="row" id="lazy">
            <div class="col-lg-6 col-md-12">
                <img src="/img/<%= planet.gridImg %>" alt="">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="info-body text-center">
                    <h1 class="info-title"><%= title %></h1>
                    <h5 class="info-second highlight"><%= planet.nickname %></h5>
                    <p class="info-line">Planet Number: &nbsp;<strong><%= planet.planet_number %></strong></p>
                    <p class="info-line">Distance: &nbsp;<strong><%= planet.distance %></strong></p>
                    <p class="info-line">Orbit: &nbsp;<strong><%= planet.orbit %></strong></p>
                    <p class="info-description"><%= planet.description %></p>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- ------------------------------------------ -->
<% include partials/foot.ejs %>